.tituloo{
   color: crimson;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}
.textooo{
    font-size: 20px;
    color:black;
    text-align: center;

}
.segundoparrafo{
    font-size: 20px;
    text-align: center;
    color: black;

}